<p><%= @game.player_1.name %> vs. <%= @game.player_2.name %></p>
<p><%= @game.player_1.name %> - HP:<%= @game.player_1.hit_points %> : <%= @game.player_2.name %> - HP:<%= @game.player_2.hit_points %></p>


<p><a href="/attack">Attack</a></p>
<p><a href="/poison">Poison Attack</a><p>
